FORMAT: 1A
HOST: http://api.trasher.blur.tech

# Trasher

Серверная часть приложения Trasher созданного в рамках финала хакатона Цифровой Прорыв

## Пользователь [/user]

### Получение логина и id [GET]


+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "id": "5d20516a74ce7f5f0c6ae514",
                "username": "MacOSO"
            }
        }

### Авторизация [POST]

+ Request 200 (application/json)

        {
            "username": "MacOSO",
            "password": "password"
        }

+ Response 200 (application/json)

        {
        "success": true,
        "data": {
            "user": {
                "id": "5d20516a74ce7f5f0c6ae514",
                "username": "MacOSO"
            },
            "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg"
            }
        }

### Получение данных профиля [GET/user/profile]


+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "_id": "5d20516a74ce7f5f0c6ae514",
                "username": "MacOSO",
                "createdAt": "2019-07-06T07:44:44.159Z",
                "updatedAt": "2019-07-06T13:23:39.012Z",
                "__v": 2
            }
        }

### Изменение данных профиля [PATCH/user/profile]

+ Request
    + Headers

            Authorization: Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjVkMjA1MTZhNzRjZTdmNWYwYzZhZTUxNCIsInVzZXJuYW1lIjoiTWFjT1NPIiwiaWF0IjoxNTYyNDE5NDE3fQ.iUkaK5EAp89bXi4nKrYIn3upNAjTe6VxE4uQOcnBpIg

+ Request 200 (application/json)

        {
            "username": "MacOSO1"
        }

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "message": "Successful edit profile"
            }
        }
